
html {
	width: 100vw;
	font-family: 'Courier New', monospace;
}

body {     
	min-height: 100vh;
	margin: 0;
}

a {
}

/* LIBRARY */

#library-body{
	padding: 3rem;
}

#writings-body{
	padding: 3rem;
}

