
html {
	width: 100vw;
	font-family: 'Courier New', monospace;
}

body {     
	min-height: 100vh;
	max-width: 75vw;
	margin: 0 auto;
	padding: 2em;
}

a {
}

.small {
    font-size: 90%;

}

.grey {
    color: grey;
}

